# 编译产物
/target

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# 更多信息参见 http://doc.crates.io/guide.html#cargotoml-vs-cargolock
/Cargo.lock

# 这些是一些常见的 Rust 工件文件
**/*.rs.bk

# IDE/编辑器特有文件
.idea/
*.vscode/

# macOS 特有文件
.DS_Store

# Windows 特有文件
Thumbs.db
